*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --colour-text: #2e2e2e;
    --colour-bg: #f9fafb;
    --colour-primary: #749cec;
    --colour-primary-dark: #3766c4;
    --colour-secondary: #c285e0;
    --colour-secondary-dark: #8c39b6;
    --colour-bg-dark: #e2eefa;
    --colour-error: #cb112d;
    --queens-board-colour0: #ffffff;
    --queens-board-colour16: #ffe04b;
    --queens-board-colour15: #c387e0;
    --queens-board-colour14: #729aec;
    --queens-board-colour13: #8acc6d;
    --queens-board-colour12: #ff93f3;
    --queens-board-colour11: #62efea;
    --queens-board-colour10: #a3d2d8;
    --queens-board-colour9: #dfa0bf;
    --queens-board-colour8: #b9b29e;
    --queens-board-colour7: #e6f388;
    --queens-board-colour6: #ff7b60;
    --queens-board-colour5: #dfdfdf;
    --queens-board-colour4: #b3dfa0;
    --queens-board-colour3: #96beff;
    --queens-board-colour2: #ffc992;
    --queens-board-colour1: #bba3e2;
}

html {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(10px, 0.857vw, 16px);
}

body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Noto Sans';
    color: var(--colour-text);
    background-color: var(--colour-bg);
    overflow: hidden;
}

.appContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    padding: 2rem 4rem;
    touch-action: pan-y;
}

.appContent {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    touch-action: pan-y;
}

.controls {
    flex-grow: 1;
    align-self: flex-start;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

h3 em {
    font-weight: 400;
    padding: 0 0.5rem;
    color: var(--colour-primary);
}

button {
    border-radius: 10%;
    border: none;
    min-width: 6rem;
    height: 100%;
    margin: 0 0.3rem 0;
    transition: 250ms;
    color: var(--colour-bg);
    opacity: 0.5;
    font-weight: bold;
    font-size: 1.5rem;
}

button:enabled {
    opacity: 1;
    cursor: pointer;
}

.resetBtn {
    background-color: var(--colour-primary);
}

.resetBtn:enabled:hover {
    background-color: var(--colour-primary-dark);
    color: var(--colour-bg);
}

.solveBtn {
    background-color: var(--colour-secondary);
}

.solveBtn:enabled:hover {
    background-color: var(--colour-secondary-dark);
    color: var(--colour-bg);
}

.settings {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.buttons {
    height: 6rem;
    display: flex;
}

.boardSizeSettings {
    flex-grow: 1;
}

.sizeSlider {
  appearance: none;
  appearance: none;
  width: 100%;
  height: 1.5rem;
  background-color: var(--colour-bg-dark);
  border-radius: calc(1.5rem + 1px);
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.sizeSlider:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.sizeSlider::-webkit-slider-thumb {
    appearance: none;
    height: 1.5rem;
    aspect-ratio: 1;
    background-color: var(--colour-bg);
    border-radius: 50%;
    border: 0.2rem solid var(--colour-primary);
    box-shadow: -50.7rem 0 0 50rem var(--colour-primary);
}

.board {
    display: grid;
    width: min(50vw, 90vh);
    aspect-ratio: 1;
    overflow: hidden;
    margin: auto;
    border: 1px solid var(--colour-text);
    background-color: var(--colour-text);
    touch-action: none;
}

.square {
    width: 100%;
    display: flex;
    place-content: center;
    aspect-ratio: 1;
    background-color: var(--colour-no-selection);
    border: 1px solid var(--colour-text);
    transition: 200ms;
    touch-action: none;
}

.square svg {
    width: 50%;
    transform: scale(0);
    transition: 250ms;
}

.isQueen svg,
.isUnsolvable svg {
    transform: scale(1);
}

.isUnsolvable svg polygon {
    fill: var(--colour-error)
}

.regionSelector {
    width: minmax(40vw, 800px);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--colour-bg-dark);
}

.regionSelector input {
    appearance: none;
    display: grid;
    place-content: center;
    height: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 150ms;
    cursor: not-allowed;
    opacity: 0.5;
}

.regionSelector input:enabled {
    cursor: pointer;
    opacity: 1;
}

.regionSelector input:hover:enabled {
    opacity: 0.8;
}

.regionSelector input::before {
    content: "";
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 250ms;
    box-shadow: inset 3rem 3rem var(--colour-bg);
}

.regionSelector input:checked::before {
    opacity: 0;
}

.statusMessage {
    text-align: center;
    margin-top: 2rem;
}

@media (max-width: 1400px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1050px), (orientation: portrait) {
    body {
        overflow-y: scroll;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }

    .appContainer {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .controls {
        align-self: center;
    }

    .board {
        width: min(100%, 90vmin);
    }

    .appContent {
        width: min(100%, 90vmin);
        margin: 2rem 0;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 10px;
    }

    .settings {
        flex-direction: column;
        gap: 1rem;
    }

    .boardSizeSettings,
    .buttons {
        width: 100%;
    }

    .buttons {
        display: flex;
    }

    button {
        flex-grow: 1;
        height: 4rem;
        border-radius: 1.2rem;
    }
}